a {
  @include link-decoration
}
.adjustment {
  color: $letter-color;
  padding: 2vh 2vw 1vh 5vw;
  &__title {
    font-weight: bold;
  }
  &__content {
    font-size: 2vh;
  }
}
.buttons {
  border-bottom: 0.5px solid $border-color;
  padding: 0 2vw 1.5vh 5vw;
  .icon {
    margin-right:2vw;
  }
}